<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1><%=data  %></h1>
    <h1>Helolooooooooooooo</h1>
    <h1>Helolooooooooooooo</h1>
    
</body>
</html>